@import 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap';
/* stylelint-disable */
/* stylelint-disable */
#obii-chat-toggle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 36px 7px rgba(0, 0, 0, 0.18);
          box-shadow: 0 5px 36px 7px rgba(0, 0, 0, 0.18);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-device-width: 767.98px) {
  #obii-chat-toggle-icon {
    right: 10px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

#obii-chat-toggle-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgdmlld0JveD0iMCAwIDQyIDQyIj4KICA8cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJDbG9zZS1pY29uX2NvcHkiIGRhdGEtbmFtZT0iQ2xvc2UtaWNvbiBjb3B5IiBjbGFzcz0iY2xzLTEiIGQ9Ik0yMTEzLjcsMTYwMC45OWwxNi41MS0xNi41M2EyLjYyMywyLjYyMywwLDAsMC0zLjcxLTMuNzFsLTE2LjUxLDE2LjUyLTE2LjUxLTE2LjUyYTIuNjI3LDIuNjI3LDAsMSwwLTMuNzIsMy43MWwxNi41MiwxNi41My0xNi41MiwxNi41M2EyLjYyNywyLjYyNywwLDAsMCwzLjcyLDMuNzFsMTYuNTEtMTYuNTIsMTYuNTEsMTYuNTJhMi42MTksMi42MTksMCwwLDAsMy43MSwwLDIuNjEzLDIuNjEzLDAsMCwwLDAtMy43MVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMDg5IC0xNTgwKSIvPgo8L3N2Zz4K") no-repeat center;
  background-size: contain;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#obii-chat-toggle-icon * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#obii-chat-toggle-icon.glow {
  border: 2px solid #fff;
  -webkit-animation: anim-glow 2s ease infinite;
          animation: anim-glow 2s ease infinite;
}

#obii-chat-toggle-icon.active {
  background: #8300D8;
  bottom: 44px;
}

@media (max-device-width: 767.98px) {
  #obii-chat-toggle-icon.active {
    right: 10px;
    bottom: 20px;
  }
}

#obii-chat-toggle-icon.active:before {
  opacity: 1;
  width: 20px;
  height: 20px;
}

#obii-chat-toggle-icon.active .obii-chat-toggle-icon__number {
  display: none;
}

#obii-chat-toggle-icon img {
  max-height: 70px;
  max-width: 100%;
  vertical-align: middle;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#obii-chat-toggle-icon.active img {
  max-height: 0;
}

#obii-chat-toggle-icon__number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -1px;
  right: -1px;
  width: 16px;
  height: 16px;
  background: #EC1D7F;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  border-radius: 50%;
}

#obii-chat-toggle-icon__img {
  border-radius: 50%;
  overflow: hidden;
}

.icon-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#obii-chat-iframe-chat {
  position: fixed;
  right: 20px;
  bottom: 90px;
  border: 0;
  width: 430px;
  height: 100%;
  z-index: 99;
}

@media (max-device-width: 767.98px) {
  #obii-chat-iframe-chat {
    width: 100%;
    right: 0;
    bottom: 60px;
  }
}

#obii-chat-iframe-chat.chat-active {
  right: 110px;
  bottom: 0;
}

@media (max-device-width: 767.98px) {
  #obii-chat-iframe-chat.chat-active {
    right: 0;
    bottom: 60px;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.pb-0 {
  padding-bottom: 0;
}

.scroll-list-200 {
  max-height: 200px;
  overflow: auto;
}

.scroll-list-250 {
  max-height: 250px;
  overflow: auto;
}

.scroll-list-300 {
  max-height: 300px;
  overflow: auto;
}
