.d-none {
  display: none;
}

.d-block {
  display: block;
}

.pb-0 {
  padding-bottom: 0;
}

.scroll-list-200 {
  max-height: 200px;
  overflow: auto;
}

.scroll-list-250 {
  max-height: 250px;
  overflow: auto;
}

.scroll-list-300 {
  max-height: 300px;
  overflow: auto;
}
