include ../page-list/_page-list
include ../_head
include ../_header
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src="https://maps.googleapis.com/maps/api/js?v=3.39&libraries=places&key=AIzaSyCUPyVQ6Z3rnX6gvpdkzsFxUHb6e237zwA")
      script(src='js/main.js')
      //- script(src="https://maps.googleapis.com/maps/api/js?v=3.39&libraries=places&key=AIzaSyCUPyVQ6Z3rnX6gvpdkzsFxUHb6e237zwA")
