include ../page-list/_page-list
include ../_head
include ../_header
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js')
