/* stylelint-disable */
.calendar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: $white;
  border-radius: 12px;
  box-shadow: 0 2px 39px 0 $white_2;
  transform: translateY(100%);
  transition: all .4s;
  overflow: hidden;

  &.active {
    transform: translateY(0);
  }

  &__container {
    padding: 15px 20px;
    // max-height: 405px;
    max-height: 475px;
    overflow: auto;
  }

  &__hour {
    padding-top: 15px;
  }

  &__date {
    position: relative;
  }

  .month-wrap {
    position: relative;
    display: flex;
  }

  .flatpickr-monthDropdown-months {
    &:focus {
      outline: none;
    }

     option {
      display: none;
      visibility: hidden;
    }
  }

  .month-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }

  .month {
    position: absolute;
    top: 0;
    right: 50px;
    background: $white;
    border-radius: 20px;
    box-shadow: 0 2px 39px 0 $shadow;
    padding: 20px 0;
    display: none;
    z-index: 9;

    &.active {
      display: inline-block;
    }

    &__item {
      padding: 5px 30px;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }

  &__control {
    display: flex;
    align-items: center;
    border-top: 1px solid $border2;
  }

  &__button {
    flex: 1;
    padding: 12px;
    font-size: $font-size-small;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &--close {
      color: $gray1;
    }

    &--confirm {
      color: $primary;
    }
  }

  &__hour-group {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &.active {
      display: flex;
    }

    .hour-choose {
      width: calc((100% / 3) - 6px);
      margin-right: 9px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .flatpickr-calendar {
    box-shadow: none;
  }

  .flatpickr-day {
    transition: all .3s;

    &.selected {
      background: $primary;
      border-color: $primary;
    }

    &.today {
      color: $white;
      background: $primary;
      border-color: $primary;

      &:hover {
        color: $white !important;
        background: $primary !important;
      }
    }

    &.today:hover,
    &.today:focus,
    &:hover {
      color: $primary;
      background: $white;
      border-color: $primary;
    }
  }

  .flatpickr-months {
    > span {
      top: -3px;
    }

    svg path {
      fill: $primary !important;
    }
  }

  .flatpickr-weekday {
    color: $black;
    font-weight: 600;
    text-transform: uppercase;

    &:first-child,
    &:last-child {
      color: $gray1;
    }
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    text-overflow: "";
    text-indent: 0.01px;
    appearance: none;
    background: $white;
    font-size: $font-size-base;
  }

  .flatpickr-current-month input.cur-year,
  .flatpickr-monthDropdown-months {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 22px;
    font-weight: 600;
  }

  .flatpickr-current-month {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-top: 0;
  }

  .flatpickr-months {
    position: relative;
    padding-bottom: 10px;
  }
}

.time-control {
  display: flex;
  border-radius: 23px;
  border: 1px solid $border3;

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 34px;
    cursor: pointer;

    @include breakpoint-down(phone) {
      width: 45px;
    }

    &--prev {
      &:after {
        transform: translateX(50%) rotate(45deg);
        border-bottom: 1px solid $border3;
        border-left: 1px solid $border3;
      }
    }

    &--next {
      border-left: 1px solid $border3;

      &:after {
        transform: translateX(-50%) rotate(45deg);
        border-top: 1px solid $border3;
        border-right: 1px solid $border3;
      }
    }

    &:hover,
    &.active {
      &:after {
        border-color: $primary;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      transition: all .3s;
    }
  }
}
