extends modules/layout/_page-default

block head
  +head('Home')

block main
  .toggle-icon.glow
    audio#audio(src="audio/notification.mp3" autostart="false")
    .toggle-icon__number.d-none 1
    .toggle-icon__img
      img(src="images/icon_user.svg", alt="")
  iframe#iframe-chat.d-none(src="./chatbot.html")
